<div class="row">
  <div class="span3 offset3" ng-controller="ClockCtrl">
    <div class="clock-container">
      <div id="clock" class="clearfix" ng-show="status == 'process'">
        {{duration | pomotime}}
      </div>
      <button type="button" class="btn btn-large" ng-show="status == 'start'" ng-click="tick_start()">Start</button>
      <form ng-submit="save_finished_task()" ng-show="status == 'end'">
        <label>请输入番茄名称</label>
        <input type="text" value="" ng-model="data.current_selected" required />
      </form>
    </div>
    <div class="list finished" ng-controller="FinishedCtrl">
      <ul class="unstyled">
        <li ng-repeat="item in data.finished">{{item.content}} {{item.started_at | date: 'HH:mm'}} - {{item.end_at | date: 'HH:mm'}}</li>
      </ul>
    </div>
  </div>
  <div class="span3" ng-controller="TodoCtrl">
    <div class="new-todo">
      <form ng-submit="add_todo()">
        <label for="">添加 todo</label>
        <input type="text" name="" id="" value="" ng-model="newtodocontent" />
      </form>
    </div>
    <div class="list todo">
      <ul class="unstyled">
        <li ng-repeat="item in data.todos" ng-click="set_current_selected(item)">
        <div class="checkbox inline">
          <form ng-submit="update_todo(item, $index)">
            <input type="checkbox" ng-model="item.done" ng-click="update_todo(item, $index)">
            <input type="text" name="" id="" value="" ng-model="item.content" empty="update_todo(item, $index)" />
          </form>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<audio id="finish_alarm" src="/三全音.mp3"></audio>
