body {
  color: #444;
  font-size: 13px;
}

#clock {
  font-size: 60px;
  text-align: center;
  line-height: 1.5em;
}

.list {
  ul {
    margin: 1em;
    li {
      padding: 6px 20px;
      background-color: #eaeaea;
      margin: 6px 0;
    }
  }
}

.todo {
  ul li {
    padding-top: 4px;
    padding-bottom: 4px;
    div.checkbox {
      line-height: 1.5em;
      padding-top: 0;
    }
    input[type=text] {
      background-color: transparent;
      border: none;
      outline: none;
      margin: 0;
      margin-top: -2px;
      padding: 0;
      box-shadow: none;
    }
    form {
      margin: 0;
      padding: 0;
    }
  }
}
