body {
  color: #444;
  font-size: 13px;
}

.col {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  background-color: #fafafa;
}

.col-wrap {
  overflow: hidden;
}

.clock-container, .new-todo {
  height: 90px;
}

.clock-container {
  text-align: center;
  #clock {
    font-size: 60px;
    line-height: 1.5em;
  }
  button {
    font-size: 40px;
    line-height: 1.5em;
    margin-top: 10px;
  }
}

.new-todo {
  form {
    margin: 0;
    padding: 28px 20px 0 20px;
  }
}


.list {
  ul {
    margin: 1em 0 1em 0;
    li {
      padding: 6px 20px;
      background-color: #eaeaea;
      margin: 6px 0;
    }
  }
}

.todo {
  ul li {
    padding-top: 4px;
    padding-bottom: 4px;
    div.checkbox {
      line-height: 1.5em;
      padding-top: 0;
    }
    input[type=text] {
      background-color: transparent;
      border: none;
      outline: none;
      margin: 0;
      margin-top: -2px;
      padding: 0;
      box-shadow: none;
    }
    form {
      margin: 0;
      padding: 0;
    }
  }
}
